In [2]:
mapping = {
"Freezing": 0,
"Warm": 1, 
"Cold": 2, 
"Boiling Hot": 3, 
"Hot": 4,
"Lava Hot": 5
}

In [3]:
import pandas as pd

df = pd.read_csv("../input/cat_train.csv") 
df.loc[:, "ord_2"] = df.ord_2.map(mapping)

/var/folders/v5/dptls5vs3nnd8pxb3thc1h9r0000gn/T/ipykernel_25125/1534965597.py:4: DeprecationWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  df.loc[:, "ord_2"] = df.ord_2.map(mapping)

In [4]:
df.ord_2.value_counts()

0.0    142726
1.0    124239
2.0     97822
3.0     84790
4.0     67508
5.0     64840
Name: ord_2, dtype: int64

In [5]:
import pandas as pd
from sklearn import preprocessing
# read the data
df = pd.read_csv("../input/cat_train.csv") # fill NaN values in ord_2 column
df.loc[:, "ord_2"] = df.ord_2.fillna("NONE") # initialize LabelEncoder
lbl_enc = preprocessing.LabelEncoder()
# fit label encoder and transform values on ord_2 column
# P.S: do not use this directly. fit first, then transform
df.loc[:, "ord_2"] = lbl_enc.fit_transform(df.ord_2.values)

/var/folders/v5/dptls5vs3nnd8pxb3thc1h9r0000gn/T/ipykernel_25125/3187219047.py:9: DeprecationWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  df.loc[:, "ord_2"] = lbl_enc.fit_transform(df.ord_2.values)

In [8]:
df.ord_2.value_counts()

2    142726
6    124239
1     97822
0     84790
3     67508
4     64840
5     18075
Name: ord_2, dtype: int64

In [9]:
import numpy as np
# create our example feature matrix
example = np.array( [
        [0, 0, 1],
        [1, 0, 0],
        [1, 0, 1]
] )
# print size in bytes
print(example.nbytes)

72

In [10]:
import numpy as np
from scipy import sparse
# create our example feature matrix
example = np.array( [
        [0, 0, 1],
        [1, 0, 0],
        [1, 0, 1]
] )
# convert numpy array to sparse CSR matrix
sparse_example = sparse.csr_matrix(example)
# print size of this sparse matrix
print(sparse_example.data.nbytes)

32

In [11]:
print(
sparse_example.data.nbytes + sparse_example.indptr.nbytes + sparse_example.indices.nbytes
)

64

In [12]:
import numpy as np
from scipy import sparse

# number of rows
n_rows = 10000
# number of columns
n_cols = 100000
# create random binary matrix with only 5% values as 1s
example = np.random.binomial(1, p=0.05, size=(n_rows, n_cols)) # print size in bytes
print(f"Size of dense array: {example.nbytes}") # convert numpy array to sparse CSR matrix
sparse_example = sparse.csr_matrix(example)
# print size of this sparse matrix
print(f"Size of sparse array: {sparse_example.data.nbytes}")
full_size = ( sparse_example.data.nbytes + sparse_example.indptr.nbytes + sparse_example.indices.nbytes
)
# print full size of this sparse matrix
print(f"Full size of sparse array: {full_size}")

Size of dense array: 8000000000
Size of sparse array: 399949768
Full size of sparse array: 599964656

In [15]:
import numpy as np
from scipy import sparse
# create binary matrix
example = np.array([[0, 0, 0, 0, 1, 0], [0, 1, 0, 0, 0, 0], [1, 0, 0, 0, 0, 0]])

# print size in bytes
print(f"Size of dense array: {example.nbytes}") # convert numpy array to sparse CSR matrix
sparse_example = sparse.csr_matrix(example)
# print size of this sparse matrix
print(f"Size of sparse array: {sparse_example.data.nbytes}")
full_size = ( sparse_example.data.nbytes + sparse_example.indptr.nbytes + sparse_example.indices.nbytes
)
# print full size of this sparse matrix
print(f"Full size of sparse array: {full_size}")

Size of dense array: 144
Size of sparse array: 24
Full size of sparse array: 52

In [16]:
import numpy as np
from sklearn import preprocessing
# create random 1-d array with 1001 different categories (int)
example = np.random.randint(1000, size=1000000)
# initialize OneHotEncoder from scikit-learn
# keep sparse = False to get dense array
ohe = preprocessing.OneHotEncoder(sparse=False)
# fit and transform data with dense one hot encoder
ohe_example = ohe.fit_transform(example.reshape(-1, 1)) # print size in bytes for dense array
print(f"Size of dense array: {ohe_example.nbytes}")
# initialize OneHotEncoder from scikit-learn
# keep sparse = True to get sparse array
ohe = preprocessing.OneHotEncoder(sparse=True)
# fit and transform data with sparse one-hot encoder
ohe_example = ohe.fit_transform(example.reshape(-1, 1)) # print size of this sparse matrix
print(f"Size of sparse array: {ohe_example.data.nbytes}")
full_size = (
ohe_example.data.nbytes +
ohe_example.indptr.nbytes + ohe_example.indices.nbytes
)
# print full size of this sparse matrix
print(f"Full size of sparse array: {full_size}")

/Users/bigcube/micromamba/envs/fastai/lib/python3.10/site-packages/sklearn/preprocessing/_encoders.py:972: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

Size of dense array: 8000000000
Size of sparse array: 8000000
Full size of sparse array: 16000004

/Users/bigcube/micromamba/envs/fastai/lib/python3.10/site-packages/sklearn/preprocessing/_encoders.py:972: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

In [17]:
df[df.ord_2 == "Boiling Hot"].shape

(0, 25)

In [18]:
df.groupby(["ord_2"])["id"].count()

ord_2
0     84790
1     97822
2    142726
3     67508
4     64840
5     18075
6    124239
Name: id, dtype: int64

In [19]:
df.groupby(["ord_2"])["id"].transform("count")

0          67508
1         124239
2         142726
3          64840
4          97822
           ...
599995    142726
599996     84790
599997    142726
599998    124239
599999     84790
Name: id, Length: 600000, dtype: int64

In [20]:
df.groupby( [
"ord_1",
"ord_2"
] )["id"].count().reset_index(name="count")

          ord_1  ord_2  count
0   Contributor      0  15634
1   Contributor      1  17734
2   Contributor      2  26082
3   Contributor      3  12428
4   Contributor      4  11919
5   Contributor      5   3250
6   Contributor      6  22774
7        Expert      0  19477
8        Expert      1  22956
9        Expert      2  33249
10       Expert      3  15792
11       Expert      4  15078
12       Expert      5   4225
13       Expert      6  28900
14  Grandmaster      0  13623
15  Grandmaster      1  15464
16  Grandmaster      2  22818
17  Grandmaster      3  10805
18  Grandmaster      4  10363
19  Grandmaster      5   2894
20  Grandmaster      6  19899
21       Master      0  10800
22       Master      1  12364
23       Master      2  18035
24       Master      3   8594
25       Master      4   8209
26       Master      5   2262
27       Master      6  15734
28       Novice      0  22718
29       Novice      1  26271
30       Novice      2  38233
31       Novice      3  17850
32       Novice      4  17373
33       Novice      5   4889
34       Novice      6  33263

In [21]:
df["new_feature"] = ( df.ord_1.astype(str)
+ "_"
+ df.ord_2.astype(str)
)

In [22]:
df.new_feature

0         Contributor_3
1         Grandmaster_6
2                 nan_2
3              Novice_4
4         Grandmaster_1
              ...
599995         Novice_2
599996         Novice_0
599997    Contributor_2
599998         Master_6
599999    Contributor_0
Name: new_feature, Length: 600000, dtype: object

In [23]:
df["new_feature"] = (
 df.ord_1.astype(str)
 + "_"
 + df.ord_2.astype(str)
 + "_"
 + df.ord_3.astype(str)  )

In [24]:
df.new_feature

0         Contributor_3_c
1         Grandmaster_6_e
2                 nan_2_n
3              Novice_4_a
4         Grandmaster_1_h
               ...
599995         Novice_2_a
599996         Novice_0_n
599997    Contributor_2_n
599998         Master_6_m
599999    Contributor_0_b
Name: new_feature, Length: 600000, dtype: object

In [25]:
df.ord_2.fillna("NONE").value_counts()

2    142726
6    124239
1     97822
0     84790
3     67508
4     64840
5     18075
Name: ord_2, dtype: int64

In [27]:
import pandas as pd
from sklearn import preprocessing
# read training data
train = pd.read_csv("../input/cat_train.csv") #read test data
test = pd.read_csv("../input/cat_test.csv")
# create a fake target column for test data # since this column doesn't exist 
test.loc[:, "target"] = -1
# concatenate both training and test data
data = pd.concat([train, test]).reset_index(drop=True)
# make a list of features we are interested in
# id and target is something we should not encode
features = [x for x in train.columns if x not in ["id", "target"]]
# loop over the features list
for feat in features:
    # create a new instance of LabelEncoder for each feature 
    lbl_enc = preprocessing.LabelEncoder()
    # note the trick here
    # since its categorical data, we fillna with a string
    # and we convert all the data to string type
    # so, no matter its int or float, its converted to string # int/float but categorical!!!
    temp_col = data[feat].fillna("NONE").astype(str).values
    # we can use fit_transform here as we do not
    # have any extra test data that we need to
    # transform on separately
    data.loc[:, feat] = lbl_enc.fit_transform(temp_col)
# split the training and test data again
train = data[data.target != -1].reset_index(drop=True)
test = data[data.target == -1].reset_index(drop=True)

/var/folders/v5/dptls5vs3nnd8pxb3thc1h9r0000gn/T/ipykernel_25125/4037129469.py:25: DeprecationWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  data.loc[:, feat] = lbl_enc.fit_transform(temp_col)
/var/folders/v5/dptls5vs3nnd8pxb3thc1h9r0000gn/T/ipykernel_25125/4037129469.py:25: DeprecationWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  data.loc[:, feat] = lbl_enc.fit_transform(temp_col)
/var/folders/v5/dptls5vs3nnd8pxb3thc1h9r0000gn/T/ipykernel_25125/4037129469.py:25: DeprecationWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  data.loc[:, feat] = lbl_enc.fit_transform(temp_col)
/var/folders/v5/dptls5vs3nnd8pxb3thc1h9r0000gn/T/ipykernel_25125/4037129469.py:25: DeprecationWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  data.loc[:, feat] = lbl_enc.fit_transform(temp_col)
/var/folders/v5/dptls5vs3nnd8pxb3thc1h9r0000gn/T/ipykernel_25125/4037129469.py:25: DeprecationWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  data.loc[:, feat] = lbl_enc.fit_transform(temp_col)
/var/folders/v5/dptls5vs3nnd8pxb3thc1h9r0000gn/T/ipykernel_25125/4037129469.py:25: DeprecationWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  data.loc[:, feat] = lbl_enc.fit_transform(temp_col)
/var/folders/v5/dptls5vs3nnd8pxb3thc1h9r0000gn/T/ipykernel_25125/4037129469.py:25: DeprecationWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  data.loc[:, feat] = lbl_enc.fit_transform(temp_col)
/var/folders/v5/dptls5vs3nnd8pxb3thc1h9r0000gn/T/ipykernel_25125/4037129469.py:25: DeprecationWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  data.loc[:, feat] = lbl_enc.fit_transform(temp_col)
/var/folders/v5/dptls5vs3nnd8pxb3thc1h9r0000gn/T/ipykernel_25125/4037129469.py:25: DeprecationWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  data.loc[:, feat] = lbl_enc.fit_transform(temp_col)
/var/folders/v5/dptls5vs3nnd8pxb3thc1h9r0000gn/T/ipykernel_25125/4037129469.py:25: DeprecationWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  data.loc[:, feat] = lbl_enc.fit_transform(temp_col)
/var/folders/v5/dptls5vs3nnd8pxb3thc1h9r0000gn/T/ipykernel_25125/4037129469.py:25: DeprecationWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  data.loc[:, feat] = lbl_enc.fit_transform(temp_col)
/var/folders/v5/dptls5vs3nnd8pxb3thc1h9r0000gn/T/ipykernel_25125/4037129469.py:25: DeprecationWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  data.loc[:, feat] = lbl_enc.fit_transform(temp_col)
/var/folders/v5/dptls5vs3nnd8pxb3thc1h9r0000gn/T/ipykernel_25125/4037129469.py:25: DeprecationWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  data.loc[:, feat] = lbl_enc.fit_transform(temp_col)
/var/folders/v5/dptls5vs3nnd8pxb3thc1h9r0000gn/T/ipykernel_25125/4037129469.py:25: DeprecationWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  data.loc[:, feat] = lbl_enc.fit_transform(temp_col)
/var/folders/v5/dptls5vs3nnd8pxb3thc1h9r0000gn/T/ipykernel_25125/4037129469.py:25: DeprecationWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  data.loc[:, feat] = lbl_enc.fit_transform(temp_col)
/var/folders/v5/dptls5vs3nnd8pxb3thc1h9r0000gn/T/ipykernel_25125/4037129469.py:25: DeprecationWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  data.loc[:, feat] = lbl_enc.fit_transform(temp_col)
/var/folders/v5/dptls5vs3nnd8pxb3thc1h9r0000gn/T/ipykernel_25125/4037129469.py:25: DeprecationWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  data.loc[:, feat] = lbl_enc.fit_transform(temp_col)
/var/folders/v5/dptls5vs3nnd8pxb3thc1h9r0000gn/T/ipykernel_25125/4037129469.py:25: DeprecationWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  data.loc[:, feat] = lbl_enc.fit_transform(temp_col)
/var/folders/v5/dptls5vs3nnd8pxb3thc1h9r0000gn/T/ipykernel_25125/4037129469.py:25: DeprecationWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  data.loc[:, feat] = lbl_enc.fit_transform(temp_col)
/var/folders/v5/dptls5vs3nnd8pxb3thc1h9r0000gn/T/ipykernel_25125/4037129469.py:25: DeprecationWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  data.loc[:, feat] = lbl_enc.fit_transform(temp_col)
/var/folders/v5/dptls5vs3nnd8pxb3thc1h9r0000gn/T/ipykernel_25125/4037129469.py:25: DeprecationWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  data.loc[:, feat] = lbl_enc.fit_transform(temp_col)
/var/folders/v5/dptls5vs3nnd8pxb3thc1h9r0000gn/T/ipykernel_25125/4037129469.py:25: DeprecationWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  data.loc[:, feat] = lbl_enc.fit_transform(temp_col)
/var/folders/v5/dptls5vs3nnd8pxb3thc1h9r0000gn/T/ipykernel_25125/4037129469.py:25: DeprecationWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  data.loc[:, feat] = lbl_enc.fit_transform(temp_col)

In [28]:
df.ord_4.fillna("NONE").value_counts()

N       39978
P       37890
Y       36657
A       36633
R       33045
U       32897
M       32504
X       32347
C       32112
H       31189
Q       30145
T       29723
O       25610
B       25212
E       21871
K       21676
I       19805
NONE    17930
D       17284
F       16721
W        8268
Z        5790
S        4595
G        3404
V        3107
J        1950
L        1657
Name: ord_4, dtype: int64

In [29]:
df.ord_4 = df.ord_4.fillna("NONE")

In [32]:
df.loc[
df["ord_4"].value_counts()[df["ord_4"]].values < 2000, "ord_4"
] = "RARE"

In [33]:
df.ord_4.value_counts()

N       39978
P       37890
Y       36657
A       36633
R       33045
U       32897
M       32504
X       32347
C       32112
H       31189
Q       30145
T       29723
O       25610
B       25212
E       21871
K       21676
I       19805
NONE    17930
D       17284
F       16721
W        8268
Z        5790
S        4595
RARE     3607
G        3404
V        3107
Name: ord_4, dtype: int64

In [34]:
# create_folds.py
# import pandas and model_selection module of scikit-learn
import pandas as pd
from sklearn import model_selection 

if __name__ == "__main__":
    # Read training data
    df = pd.read_csv("../input/cat_train.csv")
    # we create a new column called kfold and fill it with -1
    df["kfold"] = -1
    # the next step is to randomize the rows of the data
    df = df.sample(frac=1).reset_index(drop=True) # fetch labels
    y = df.target.values
    # initiate the kfold class from model_selection module
    kf = model_selection.StratifiedKFold(n_splits=5)
    # fill the new kfold column
    for f, (t_, v_) in enumerate(kf.split(X=df, y=y)): df.loc[v_, 'kfold'] = f
    # save the new csv with kfold column
    df.to_csv("../input/cat_train_folds.csv", index=False)

In [35]:
import pandas as pd
df = pd.read_csv("../input/cat_train_folds.csv")
df.kfold.value_counts()

0    120000
1    120000
2    120000
3    120000
4    120000
Name: kfold, dtype: int64

In [37]:
df.kfold

0         0
1         0
2         0
3         0
4         0
         ..
599995    4
599996    4
599997    4
599998    4
599999    4
Name: kfold, Length: 600000, dtype: int64

In [38]:
df[df.kfold==0].target.value_counts()

0    97536
1    22464
Name: target, dtype: int64

In [39]:
df[df.kfold==1].target.value_counts()

0    97536
1    22464
Name: target, dtype: int64

In [40]:
 df[df.kfold==4].target.value_counts()

0    97535
1    22465
Name: target, dtype: int64

In [46]:
# ohe_logres.py
import pandas as pd
from sklearn import linear_model 
from sklearn import metrics
from sklearn import preprocessing

def run(fold):
    # load the full training data with folds
    df = pd.read_csv("../input/cat_train_folds.csv")
    # all columns are features except id, target and kfold columns
    features = [
    f for f in df.columns if f not in ("id", "target", "kfold")
    ]
    # fill all NaN values with NONE
    # note that I am converting all columns to "strings"
    # it doesn’t matter because all are categories 
    for col in features:
        df.loc[:, col] = df[col].astype(str).fillna("NONE") # get training data using folds
    df_train = df[df.kfold != fold].reset_index(drop=True) # get validation data using folds
    df_valid = df[df.kfold == fold].reset_index(drop=True) # initialize OneHotEncoder from scikit-learn
    ohe = preprocessing.OneHotEncoder()
    # fit ohe on training + validation features
    full_data = pd.concat(
    [df_train[features], df_valid[features]], axis=0
    ) 
    ohe.fit(full_data[features])
    # transform training data
    x_train = ohe.transform(df_train[features])
    # transform validation data
    x_valid = ohe.transform(df_valid[features])
    # initialize Logistic Regression model
    model = linear_model.LogisticRegression()
    # fit model on training data (ohe)
    model.fit(x_train, df_train.target.values)
    # predict on validation data
    # we need the probability values as we are calculating AUC # we will use the probability of 1s
    valid_preds = model.predict_proba(x_valid)[:, 1]
    # get roc auc score
    auc = metrics.roc_auc_score(df_valid.target.values, valid_preds)
    # print auc
    print(f"Fold = {fold}, AUC = {auc}")

In [47]:
for fold_ in range(5):
    run(fold_)

/Users/bigcube/micromamba/envs/fastai/lib/python3.10/site-packages/sklearn/linear_model/_logistic.py:460: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

Fold = 0, AUC = 0.7861251326159475

/Users/bigcube/micromamba/envs/fastai/lib/python3.10/site-packages/sklearn/linear_model/_logistic.py:460: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

Fold = 1, AUC = 0.7846381615622908

/Users/bigcube/micromamba/envs/fastai/lib/python3.10/site-packages/sklearn/linear_model/_logistic.py:460: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

Fold = 2, AUC = 0.7889849312597597

/Users/bigcube/micromamba/envs/fastai/lib/python3.10/site-packages/sklearn/linear_model/_logistic.py:460: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

Fold = 3, AUC = 0.7848089535699552
Fold = 4, AUC = 0.7861445704955669

/Users/bigcube/micromamba/envs/fastai/lib/python3.10/site-packages/sklearn/linear_model/_logistic.py:460: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

In [58]:
import pandas as pd
from sklearn import ensemble
from sklearn import metrics
from sklearn import preprocessing
def run(fold):
    # load the full training data with folds
    df = pd.read_csv("../input/cat_train_folds.csv")
    # all columns are features except id, target and kfold columns
    features = [
    f for f in df.columns if f not in ("id", "target", "kfold")
    ]
    # fill all NaN values with NONE
    # note that I am converting all columns to "strings"
    # it doesnt matter because all are categories 
    for col in features:
        df.loc[:, col] = df[col].astype(str).fillna("NONE") # now its time to label encode the features
    for col in features:
    # initialize LabelEncoder for each feature column

        lbl = preprocessing.LabelEncoder()
        # fit label encoder on all data
        lbl.fit(df[col])
        # transform all the data
        df.loc[:, col] = lbl.transform(df[col])

    # get training data using folds
    df_train = df[df.kfold != fold].reset_index(drop=True) # get validation data using folds
    df_valid = df[df.kfold == fold].reset_index(drop=True) # get training data
    x_train = df_train[features].values
    # get validation data
    x_valid = df_valid[features].values
    # initialize random forest model
    model = ensemble.RandomForestClassifier(n_jobs=-1) # fit model on training data (ohe)
    model.fit(x_train, df_train.target.values)
    # predict on validation data
    # we need the probability values as we are calculating AUC # we will use the probability of 1s
    valid_preds = model.predict_proba(x_valid)[:, 1]
    # get roc auc score
    auc = metrics.roc_auc_score(df_valid.target.values, valid_preds)
    # print auc
    print(f"Fold = {fold}, AUC = {auc}")

In [57]:
for fold_ in range(5):
    run(fold_)

IndexError: only integers, slices (`:`), ellipsis (`...`), numpy.newaxis (`None`) and integer or boolean arrays are valid indices

In [59]:
import pandas as pd

df = pd.read_csv("../input/adult.csv")

df.income.value_counts()

<=50K    24720
>50K      7841
Name: income, dtype: int64

In [60]:
df

,age,workclass,fnlwgt,education,education.num,marital.status,occupation,relationship,race,sex,capital.gain,capital.loss,hours.per.week,native.country,income
0,90,?,77053,HS-grad,9,Widowed,?,Not-in-family,White,Female,0,4356,40,United-States,<=50K
1,82,Private,132870,HS-grad,9,Widowed,Exec-managerial,Not-in-family,White,Female,0,4356,18,United-States,<=50K
2,66,?,186061,Some-college,10,Widowed,?,Unmarried,Black,Female,0,4356,40,United-States,<=50K
3,54,Private,140359,7th-8th,4,Divorced,Machine-op-inspct,Unmarried,White,Female,0,3900,40,United-States,<=50K
4,41,Private,264663,Some-college,10,Separated,Prof-specialty,Own-child,White,Female,0,3900,40,United-States,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,22,Private,310152,Some-college,10,Never-married,Protective-serv,Not-in-family,White,Male,0,0,40,United-States,<=50K
32557,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32558,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32559,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32560,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K

In [61]:
import time
import pandas as pd

from sklearn import linear_model
from sklearn import metrics
from sklearn import preprocessing


def run(fold):
    # load the full training data with folds
    df = pd.read_csv("../input/adult_folds.csv")
    # list of numerical columns
    num_cols = [
        "fnlwgt",
        "age",
        "capital.gain",
        "capital.loss",
        "hours.per.week"
    ]
    # drop numerical columns
    df = df.drop(num_cols, axis=1)
    # map targets to 0s and 1s
    target_mapping = {
        "<=50K": 0,
        ">50K": 1
    }
    df.loc[:, "income"] = df.income.map(target_mapping)
    # all columns are features except income and kfold columns
    features = [
        f for f in df.columns if f not in ("kfold", "income")
    ]
    # fill all NaN values with NONE
    # note that I am converting all columns to "strings"
    # it doesnt matter because all are categories
    for col in features:
        df.loc[:, col] = df[col].astype(str).fillna("NONE")

    # get training data using folds
    df_train = df[df.kfold != fold].reset_index(drop=True)
    # get validation data using folds
    df_valid = df[df.kfold == fold].reset_index(drop=True)
    # initialize OneHotEncoder from scikit-learn
    ohe = preprocessing.OneHotEncoder()
    # fit ohe on training + validation features
    full_data = pd.concat(
        [df_train[features], df_valid[features]],
        axis=0
    )
    ohe.fit(full_data[features])
    # transform training data
    x_train = ohe.transform(df_train[features])
    # transform validation data
    x_valid = ohe.transform(df_valid[features])
    # initialize Logistic Regression model
    model = linear_model.LogisticRegression()
    # fit model on training data (ohe)
    model.fit(x_train, df_train.income.values)
    # predict on validation data
    # we need the probability values as we are calculating AUC
    # we will use the probability of 1s
    valid_preds = model.predict_proba(x_valid)[:, 1]
    # get roc auc score
    auc = metrics.roc_auc_score(df_valid.income.values, valid_preds)
    # print auc
    print(f"Fold = {fold}, AUC = {auc}")


if __name__ == "__main__":
    start_time = time.time()

    for fold_ in range(5):
        run(fold_)

    end_time = time.time() - start_time

    print(f"----{end_time} seconds----")

/var/folders/v5/dptls5vs3nnd8pxb3thc1h9r0000gn/T/ipykernel_25125/999898374.py:27: DeprecationWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  df.loc[:, "income"] = df.income.map(target_mapping)
/Users/bigcube/micromamba/envs/fastai/lib/python3.10/site-packages/sklearn/linear_model/_logistic.py:460: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
/var/folders/v5/dptls5vs3nnd8pxb3thc1h9r0000gn/T/ipykernel_25125/999898374.py:27: DeprecationWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  df.loc[:, "income"] = df.income.map(target_mapping)

Fold = 0, AUC = 0.879492444118551
Fold = 1, AUC = 0.8876200434664157

/Users/bigcube/micromamba/envs/fastai/lib/python3.10/site-packages/sklearn/linear_model/_logistic.py:460: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
/var/folders/v5/dptls5vs3nnd8pxb3thc1h9r0000gn/T/ipykernel_25125/999898374.py:27: DeprecationWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  df.loc[:, "income"] = df.income.map(target_mapping)
/Users/bigcube/micromamba/envs/fastai/lib/python3.10/site-packages/sklearn/linear_model/_logistic.py:460: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

Fold = 2, AUC = 0.8852609687685753
Fold = 3, AUC = 0.8681269762152435

/var/folders/v5/dptls5vs3nnd8pxb3thc1h9r0000gn/T/ipykernel_25125/999898374.py:27: DeprecationWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  df.loc[:, "income"] = df.income.map(target_mapping)
/Users/bigcube/micromamba/envs/fastai/lib/python3.10/site-packages/sklearn/linear_model/_logistic.py:460: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
/var/folders/v5/dptls5vs3nnd8pxb3thc1h9r0000gn/T/ipykernel_25125/999898374.py:27: DeprecationWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  df.loc[:, "income"] = df.income.map(target_mapping)

Fold = 4, AUC = 0.8728581541840037
----0.9034171104431152 seconds----

/Users/bigcube/micromamba/envs/fastai/lib/python3.10/site-packages/sklearn/linear_model/_logistic.py:460: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(